@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Exo+2:ital,wght@1,300&family=Fira+Sans:wght@300&family=Prompt:ital,wght@1,200&family=Righteous&family=Signika+Negative&family=Zilla+Slab:ital,wght@1,700&display=swap');

body {
  margin: 0;
  font-family: 'Prompt', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
